.bg-sqr{

    background-image: url('https://images6.alphacoders.com/324/324142.jpg');

    background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  
}

@media only screen and (max-width: 768px) {
    .bg-sqr{
      background-size: cover;
    }
  }



  